body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: rgb(224, 232, 255);
}

a{
    text-decoration: none;
}

.card {
    border-radius: 20px;

    .img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        width: 100%;
        height: auto;
    }

    .content {
        margin-top: 2px;
        background-color: #fff;

        // padding:top & bottom left & right
        padding: 0px 45px;

        .title {
            font-weight: 900;
            font-size: 25px;

            // padding:top right bottom left
            padding:40px 0px 15px 0px;
        }

        .box {
            background-color: hsl(225, 100%, 98%);
            width: 300px;
            height: auto;
            padding: 8px;
            margin-left: -15px;
            border-radius: 15px;

            .music-icon {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.btn {
    box-shadow: 0 4px 8px 0 rgba(41, 45, 245, 0.322);
    width:250px;
    margin-left: 3.2rem;

    &:hover{
        opacity: 0.2px;
        background-color: hsl(223, 47%, 23%);
    }
}

.link-cancel {
    margin: 15px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;

    &:hover {
        color: hsl(223, 47%, 23%);
    }
}