$White: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: $LightGray;
}

.card {
    border-radius: 1rem;

    .dummy {
        border-radius: 15px;
    }
}

.one{
    .para-one{
        font-weight: 700;
        color: $DarkBlue;
    }
    .para-two{
        font-weight: 400;
        color:$LightGray;
    }
}